.github/**
.vscode/**
docs/**
**/node_modules/**
client/src/**
client/out/**
server/src/**
server/out/**
**/package-lock.json
**/.package-lock.json
client/tsconfig.json
server/tsconfig.json
*.vsix
**/*.tsbuildinfo
tsconfig.json
.gitignore
webpack.config.js
