.github/**
.vscode/**
docs/**
client/src/**
server/src/**
server/out/__tests__/**
**/package-lock.json
**/.package-lock.json
client/tsconfig.json
server/tsconfig.json
*.vsix
**/*.tsbuildinfo
tsconfig.json
.gitignore
